.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: move;
  overflow: clip;
}

.image {
  display: none;
  position: absolute;
  max-width: initial;
  cursor: move;
}

.cropper {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 40px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  overflow: clip;
  cursor: move;
}

.canvas {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skeleton {
  position: absolute;
  width: 100%;
  height: 100%;
}
